@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Configuración base para títulos */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  .font-heading {
    font-family: "Poppins", sans-serif;
  }

  /* Configuración base para texto general */
  body {
    font-family: "Roboto", sans-serif;
  }
}

/* Clases de utilidad para fuentes */
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
