@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Configuración base para títulos */
  /* Space Grotesk para todos los títulos por defecto */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Space Grotesk", sans-serif;
  }

  /* Configuración base para texto general */
  body {
    font-family: "Nunito", ui-sans-serif, system-ui;
  }

  /* Estilos para inputs y textareas en modo oscuro */
  input,
  textarea,
  select {
    @apply bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
}

/* Clases de utilidad para fuentes */
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
